/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Main Styling */
 * {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

 .container {
  display: flex;
  flex-flow: row wrap;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  background: #BA2F3E;
  border-radius: 5px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #000000;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#logo a {
  color: #ffffff;
}

#navbar ul li a {
  color: #ffffff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #BA2F3E;
  border-radius: 5px;
}

.alert {
  text-align: center;
}

/* Book Container */
.current-page {
  text-align: center;
  margin: 20px;
}

.current-page h3 {
  margin-top: 10px;
}

#author {
  color: #BA2F3E;
}

.book-content {
  border: #3B3333 solid 3px;
  background: #F8F9F9;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  flex: 25%;
}

.book-content h3 a {
  font-style: italic;
  color: #BA2F3E;
}

.book-content p a {
  color: #BA2F3E;
}

/* ------------------------------------- Book Show Page --------------------------------------*/
.show-flex {
  display: flex;
  margin: 10px;
  margin-left: 70px;
  margin-right: 70px;

}

.book-img {
  margin: 20px;
  width: 200px;
}

.book-info {
  padding-top: 20px;
}

.btn.show {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  background-color: #BA2F3E;
}

.comments-section {
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px;
  text-align: center;
}

.comment-red {
  border: #BA2F3E solid 2px;
  margin: 5px 5px;
}

.comment-black {
  border: #3B3333 solid 2px;
  margin: 5px 5px;
}

.username {
  text-align: left;
  padding-left: 5px;
}

.comment-content {
  text-align: left;
  font-style: italic;
  padding: 5px;
}

.post-time {
  text-align: right;
  margin-right: 10px;
}

.comment-form textarea {
  margin-top: 10px;
  width: 500px;
  height: 100px;
  border: #3B3333 solid 3px;
}

/* ------------------------------------------  Form  ----------------------------------------- */

.form {
  margin: 20px auto;
  width: 300px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}

h1.form-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  text-align:center; 
}

.form-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left:10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus {
    border-color:#6e8095;
    outline: none;
}

.form-alt {
  margin-top: 10px;
}

/*------------------------------------------- Footer --------------------------------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

