/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Main Styling */
 * {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

 .container {
  display: flex;
  flex-flow: row wrap;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #3B3333;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#logo a {
  color: #ffffff;
}

#navbar ul li a {
  color: #ffffff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #BA2F3E;
  border-radius: 5px;
}

/* Book Container */
.heading {
  text-align: center;
  margin: 20px;
}

#author {
  color: #BA2F3E;
}

.book-content {
  border: #3B3333 solid 1px;
  background: #ffffff;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  flex: 25%;
}

.book-content h3 a {
  font-style: italic;
  color: #BA2F3E;
}

.book-content p a {
  color: #BA2F3E;
}

/* Footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}




